{% extends 'master.html' %}

{% block titulo %} Búsqueda de campeones por posición y nivel {% endblock %}

{% block contenido %}
<div class="jumbotron text-center col-6">
    <form id="formulario" method="post" action='' class="form-signin">{% csrf_token %}
        <fieldset class="form-group">
            <label for="positionName" class="h4">Posición</label>
            <select class="d-inline custom-select" name="positionName" id="positionName" required>
                <option value='Bot'>Bot</option>
                <option value='Top'>Top</option>
                <option value='Mid'>Mid</option>
                <option value='Jungle'>Jungle</option>
                <option value='Support'>Support</option>
            </select>
            <label for="level" class="h4 mt-3">Nivel</label>
            <select class="d-inline custom-select" name="level" id="level" required>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
            <button class="btn btn-secondary btn-block d-inline mt-3" type="submit">Realizar búsqueda</button>
        </fieldset class="form-group">
    </form>
</div>

{% if campeones %}
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center table-responsive">
	<table class="table table-striped table-hover table-info" style="margin-bottom: 180px;">
		<thead class="thead-dark">
			<tr class="text-center">
				<th class="align-middle" scope="col">#</th>
				<th class="align-middle" scope="col">Nombre del campeón</th>
				<th class="align-middle" scope="col">Imagen</th>
				<th class="align-middle" scope="col">Fecha de lanzamiento</th>
			</tr>
		</thead>
		<tbody>
			{% regroup campeones by name as grouped %}
			{% for group in grouped %}
				{% for champion in group.list %}
				<tr class="text-center">
					<th class="align-middle" scope="row">{{forloop.parentloop.counter}}</th>
					<td class="align-middle">{{champion.name}}</td>
					<td class="align-middle"><img class="w-25 p-1" alt="Display Picture" src="{{champion.image}}" /></td>
					<td class="align-middle">{{champion.releaseDate}}</td>
				</tr>
				{% endfor %}
			{% endfor %}		
		</tbody>
	</table>
</div>
{% endif %}
{% endblock %}  