{% extends 'master.html' %}

{% block titulo %} Búsqueda de un jugador por nombre {% endblock %}

{% block contenido %}
<div class="jumbotron text-center col-6">
    <form id="formulario" method="post" action='' class="form-signin">{% csrf_token %}
        <fieldset class="form-group">
            <label for="player_name" class="h4">Nombre del jugador</label>
            <input class="form-control d-inline" type="text" name="player_name" id="champion_name" placeholder="Nombre del jugador" />
            <button class="btn btn-secondary btn-block d-inline mt-2" type="submit">Realizar búsqueda</button>
        </fieldset class="form-group">
    </form>
</div>

{% if jugadores %}
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center table-responsive">
    <table class="table table-striped table-hover table-info">
        {% for row in jugadores %}
		<thead class="thead-dark">
            <tr class="text-center">
				<th class="align-middle th-dark" colspan="4" scope="col">{{row.name}}</th>
			</tr>
			<tr class="text-center">
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Enlace a su perfil</th>
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Puesto de posicionamiento</th>
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Porcentaje de victorias</th>
			</tr>
		</thead>
		<tbody>
            <tr class="text-center">
                <td class="align-middle"><a target=_blank href="{{row.urlPerfil}}">{{row.urlPerfil}}</a></td>
                <td class="align-middle">{{row.ranking}}</td>
                <td class="align-middle">{{row.winrate}} %</td>
            </tr>
            <tr class="text-center thead-dark">
				<th class="align-middle th-dark" colspan="3" scope="col">Campeones que usa con más frecuencia</th>
            </tr>
            <tr class="text-center thead-dark">
				<th class="align-middle" style="background-color: #6c757d;" colspan="2" scope="col">Nombre</th>
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Imagen</th>
			</tr>
            {% for champ in row.idsChampion.all %}
            <tr class="text-center">
                <td class="align-middle" colspan="2">{{champ.name}}</td>
                <td class="align-middle"><img  alt="Display Picture" src="{{champ.image}}" /></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
	</table>
</div>
{% endif %}
{% endblock %}