{% extends 'master.html' %}

{% block titulo %} Búsqueda de un campeón por nombre {% endblock %}

{% block contenido %}
<div class="jumbotron text-center col-6">
    <form id="formulario" method="post" action='' class="form-signin">{% csrf_token %}
        <fieldset class="form-group">
            <label for="champion_name" class="h4">Nombre del campeón</label>
            <input class="form-control d-inline" type="text" name="champion_name" id="champion_name" placeholder="Nombre del campeón" />
            <button class="btn btn-secondary btn-block d-inline mt-2" type="submit">Realizar búsqueda</button>
        </fieldset class="form-group">
    </form>
</div>

{% if campeones %}
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center table-responsive">
    <table class="table table-striped table-hover table-info">
        {% for row in campeones %}
		<thead class="thead-dark">
            <tr class="text-center">
				<th class="align-middle th-dark" colspan="4" scope="col">{{row.name}}</th>
			</tr>
			<tr class="text-center">
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Imagen del campeón</th>
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Posición donde se juega</th>
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Fecha de lanzamiento</th>
			</tr>
		</thead>
		<tbody>
            <tr class="text-center">
                <td class="align-middle"><img  alt="Display Picture" src="{{row.image}}" /></td>
                <td class="align-middle">
                {% for row3 in positions %}
                    {{row3.name}}
                    {% if not forloop.last %}
                        /
                    {% endif %}  
                {% endfor %}
                </td>
                <td class="align-middle">{{row.releaseDate}}</td>
            </tr>
            <tr class="text-center thead-dark">
				<th class="align-middle th-dark" colspan="3" scope="col">Habilidades</th>
            </tr>
            <tr class="text-center thead-dark">
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Nombre</th>
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Descripción</th>
				<th class="align-middle" style="background-color: #6c757d;" scope="col">Vídeo</th>
			</tr>
            {% for row2 in skills %}
            <tr class="text-center">
                <td class="align-middle">{{row2.name}}</td>
                <td class="align-middle text-justify">{{row2.description}}</td>
                <td class="align-middle"><iframe width="420" height="315" src={{row2.video}}></iframe></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
	</table>
</div>
{% endif %}
{% endblock %}