{% extends 'master.html' %}

{% block titulo %}ScrappiLOL{% endblock %}


{% block contenido %}

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="margin-bottom: 400px;">
    <div class="card card-signin" style="background-color: #e3f2fd;">
        <div class="card-body text-center">
            <h5 class="card-title">¿Qué es ScrappiLOL</h5>
            <p class="card-text">Con ScrappiLOL podrás realizar acciones de listado y búsquedas de campeones y jugadores
                del juego League Of Legends.<br /> Además, se podrán realizar acciones de sistemas de recomendación como
                son buscar campeones y jugadores recomendados dado uno determinado.</p>
        </div>
    </div>
    <div clas="text-center">
        <img class="my-5" src="https://i.ibb.co/y5sx4s9/2576507528-ed0fc31e-b40c-4c82-b146-565a67dccb39.png" />
    </div>
</div>


{% endblock %}