{% extends 'master.html' %}

{% block titulo %} Lista de los mejores campeones {% endblock %}

{% block list_campeones %} uk-active {% endblock %}


{% block contenido %}
<div class="uk-animation-fade">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">
        <h3 class="uk-accordion-title">Mejores campeones global:</h3>
        <div class="uk-accordion-content">
            <ul class="uk-list uk-list-striped">
                {% for key, value in campeones.items %}
                <li><strong>Nombre del campeón:</strong> {{key.name}} | <strong>Imagen:</strong> <img id="output"
                        name="img" alt="Display Picture" src="{{key.image}}" /> | <strong>Porcentaje de victoria:</strong> {{value}} %</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="uk-animation-fade">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">
        <h3 class="uk-accordion-title">Mejores campeones de línea superior:</h3>
        <div class="uk-accordion-content">
            <ul class="uk-list uk-list-striped">
                {% for key, value in campeones_top.items %}
                <li><strong>Nombre del campeón:</strong> {{key.name}} | <strong>Imagen:</strong> <img id="output"
                        name="img" alt="Display Picture" src="{{key.image}}" /> | <strong>Porcentaje de victoria:</strong> {{value}} %</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="uk-animation-fade">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">
        <h3 class="uk-accordion-title">Mejores campeones de línea de medio:</h3>
        <div class="uk-accordion-content">
            <ul class="uk-list uk-list-striped">
                {% for key, value in campeones_mid.items %}
                <li><strong>Nombre del campeón:</strong> {{key.name}} | <strong>Imagen:</strong> <img id="output"
                        name="img" alt="Display Picture" src="{{key.image}}" /> | <strong>Porcentaje de victoria:</strong> {{value}} %</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="uk-animation-fade">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">
        <h3 class="uk-accordion-title">Mejores campeones de línea inferior:</h3>
        <div class="uk-accordion-content">
            <ul class="uk-list uk-list-striped">
                {% for key, value in campeones_bot.items %}
                <li><strong>Nombre del campeón:</strong> {{key.name}} | <strong>Imagen:</strong> <img id="output"
                        name="img" alt="Display Picture" src="{{key.image}}" /> | <strong>Porcentaje de victoria:</strong> {{value}} %</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="uk-animation-fade">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">
        <h3 class="uk-accordion-title">Mejores campeones de jungla:</h3>
        <div class="uk-accordion-content">
            <ul class="uk-list uk-list-striped">
                {% for key, value in campeones_jungle.items %}
                <li><strong>Nombre del campeón:</strong> {{key.name}} | <strong>Imagen:</strong> <img id="output"
                        name="img" alt="Display Picture" src="{{key.image}}" /> | <strong>Porcentaje de victoria:</strong> {{value}} %</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="uk-animation-fade">
    <div class="uk-accordion" data-uk-accordion="{collapse: false}">
        <h3 class="uk-accordion-title">Mejores campeones de apoyo:</h3>
        <div class="uk-accordion-content">
            <ul class="uk-list uk-list-striped">
                {% for key, value in campeones_support.items %}
                <li><strong>Nombre del campeón:</strong> {{key.name}} | <strong>Imagen:</strong> <img id="output"
                        name="img" alt="Display Picture" src="{{key.image}}" /> | <strong>Porcentaje de victoria:</strong> {{value}} %</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}